.f_invoice {
  &.isLoading {
    position: relative;
    transition: all 0.5s;

    .isLoading_div {
      width: 100%;
      height: 100%;
      background-color: #f5f6fa;
      position: absolute;
      top: 0;
      z-index: 9999;
      transition: all 0.5s;
    }
  }

  width: 210mm;
  height: 100%;
  margin: 25px auto;
  box-shadow: 1px 0px 20px rgba(28, 43, 76, 0.164);
  position: relative;

  .invoice_header {
    padding: 10px 20px;

    .image-heading {
      .image-text-flex {
        gap: 20px;

        .invoice_image {
          .in_img {
            width: 65px;
            height: 65px;
            object-fit: contain;
          }
        }

        .invoice_heading_text {
          color: $invoice-pr-color;
          font-family: Nunito;
          font-size: 20px;
          font-weight: 800;

          text-transform: uppercase;
        }
      }
    }

    .tax-invoice_title {
      .text-title {
        color: #000;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
      }

      .gst_state_code {
        .gst_state_d-flex {
          align-items: center;
          display: flex;
          gap: 10px;
          line-height: 22px;

          .gst_state_code-text {
            min-width: 55px;
            color: $invoice-pr-color;
            font-size: 14px;
          }

          .gst_state_code-number {
            color: $invoice-pr-color;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .invoice_phone_mail_loc {
    // max-width: 90%;
    width: calc(100% - 50px);
    background-color: $invoice-pr-color;
    padding: 5px 15px;
    margin: 10px 0;
    height: 100%;

    // border-radius-top-right: 70%;

    .ph_mail_loc-flex {
      display: flex;
      align-items: center;
      gap: 15px;

      .icon_text {
        display: flex;
        align-items: center;
        gap: 10px;
        align-items: center;

        .text {
          color: #fff;
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
  }

  .bom_order_no {
    // max-width: 90%;
    width: 100%;
    background-color: $invoice-pr-color;
    padding: 5px 15px;
    margin: 10px 0;
    height: 100%;

    // border-radius-top-right: 70%;

    .ph_mail_loc-flex {
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: space-between;

      .icon_text {
        display: flex;
        align-items: center;
        gap: 10px;
        align-items: center;

        .text {
          color: #fff;
          font-size: 15px;
          font-weight: 300;
        }
        .label {
          color: #fff;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
  @media print {
    table {
      page-break-inside: auto;
    }
    tr {
      page-break-inside: avoid;
      page-break-after: auto;
    }
    thead {
      display: table-header-group;
    }
    tfoot {
      display: table-footer-group;
    }
  }

  .invoice_to {
    padding: 5px 15px;

    .name_ph_mai_loc_part {
      .invoice_red_tex {
        color: #e90020;
        font-size: 14px;
        font-weight: 500;
      }

      .invoice_name {
        font-size: 16px;
        font-weight: 500;
        color: $invoice-pr-color;
      }

      .icon-text_ph-ml-loc {
        .icon_text {
          display: flex;
          gap: 10px;
          align-items: start;

          .text {
            color: $invoice-pr-color;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }

    .invoice_no_date__part {
      .invoice_bar_urgent {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;

        .barcode-image {
          .barcode_text {
            margin-top: -12px;
          }
        }

        .is_urgent {
          .text {
            &.bg-red {
              background-color: red;
            }

            &.bg-green {
              background-color: green;
            }

            color: #fff;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 5px 10px;
            padding-left: 25px;
            clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
          }
        }
      }

      .invoice_Date {
        margin-top: 10px;

        .in_date_text {
          display: flex;
          gap: 30px;
          align-items: start;

          .in_text {
            color: $invoice-pr-color;
            font-size: 14px;
            font-weight: 500;
            min-width: 110px;
            margin-left: 5px;
          }

          .in_number {
            color: $invoice-pr-color;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      .invoice_end_button {
        display: flex;
        justify-content: end;

        .btn {
          margin-top: 5px;
          color: black;
          background-color: #cfd2d9;
        }
      }
    }
  }

  .invoice_table {
    padding: 5px 15px;
    padding-bottom: 0;

    table {
      width: 100% !important;
      margin: 10px auto;
      margin-bottom: 0;

      thead {
        tr {
          &:first-child {
            th {
              // for border reduasion
              // &:first-child {
              //     border-radius: 8px 0 0 0;

              // }

              // &:last-child {
              //     border-radius: 0 8px 0 0;
              // }

              padding: 10px 5px;
            }
          }

          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          th {
            background-color: $invoice-pr-color !important;
            font-weight: 700;
            color: white;
            font-size: 13px;
            text-transform: uppercase;
          }
        }
      }

      tr {
        page-break-inside: avoid;
        page-break-after: avoid;
        page-break-before: avoid;
        font-size: 13px;
        text-align: center;
      }

      tbody {
        td {
          &:nth-child(2) {
            text-align: start;
            width: 30%;
          }

          background-color: transparent !important;
          color: #1c2b4c;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;

          .particular_fabric,
          .particular_accessories {
            font-size: 12px;
          }

          /* 60.891% */
        }
      }

      & > :not(caption) > * > * {
        padding: 5px;
        border: none;
      }

      &.bg-tr-even {
        tbody {
          tr {
            &:nth-child(odd) {
              background-color: #1c2b4c1f;
            }
          }
        }
      }
    }
  }

  .bom_table {
    padding: 5px 15px;
    padding-bottom: 0;

    table {
      width: 100% !important;
      margin: 10px auto;
      margin-bottom: 0;

      thead {
        tr {
          &:first-child {
            th {
              // for border reduasion
              // &:first-child {
              //     border-radius: 8px 0 0 0;

              // }

              // &:last-child {
              //     border-radius: 0 8px 0 0;
              // }

              padding: 10px 5px;
            }
          }

          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          th {
            background-color: $invoice-pr-color !important;
            font-weight: 700;
            color: white;
            font-size: 13px;
            text-transform: uppercase;
          }
        }
      }

      tr {
        page-break-inside: avoid;
        page-break-after: avoid;
        page-break-before: avoid;
        font-size: 13px;
        text-align: center;
      }

      tbody {
        td {
          &:nth-child(2) {
            text-align: start;
            width: 15%;
          }

          background-color: transparent !important;
          color: #1c2b4c;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;

          .particular_fabric,
          .particular_accessories {
            font-size: 12px;
          }

          /* 60.891% */
        }
      }

      & > :not(caption) > * > * {
        padding: 5px;
        border: none;
      }

      &.bg-tr-even {
        tbody {
          tr {
            &:nth-child(odd) {
              background-color: #1c2b4c1f;
            }
          }
        }
      }
    }
  }

  .invoice_GrandTotal {
    padding: 5px 15px;
    padding-top: 0;

    .hsn_sac_table {
      &.min-w-60 {
        min-width: 60%;
      }

      .amt-text {
        color: #1c2b4c;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        text-transform: capitalize;
        margin: 15px 0;
      }

      .table > :not(caption) > * > * {
        border: none;
      }

      .hsn_table {
        width: 100%;

        table {
          width: 100% !important;

          thead {
            tr {
              &:first-child {
                th {
                  padding-top: 5px;
                  vertical-align: bottom;
                }
              }

              &.cust_verticale {
                th {
                  padding: 5px 10px 10px 0;

                  vertical-align: middle;
                }
              }

              border-top-left-radius: 10px;
              border-top-right-radius: 10px;

              th {
                &:first-child {
                  width: 20%;
                }

                background-color: $invoice-pr-color !important;
                font-weight: 500;
                color: white;
                font-size: 12px;
                text-transform: uppercase;
                padding: 0;
              }
            }
          }

          tr {
            page-break-inside: avoid;
            page-break-after: avoid;
            page-break-before: avoid;
            font-size: 12px;
            text-align: center;
          }

          tbody {
            td {
              &:first-child {
                text-align: start;
              }

              background-color: transparent !important;
              color: #1c2b4c;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
            }
          }

          &.bg-tr-even {
            tbody {
              tr {
                &:nth-child(odd) {
                  background-color: #1c2b4c1f;
                }
              }
            }
          }
        }
      }
    }

    .grandTotal_table {
      margin-top: 2px;
      min-width: 20%;

      table {
        width: 100% !important;

        tfoot {
          tr {
            th {
              background-color: $invoice-pr-color !important;
              font-weight: 500;
              color: white;
              font-size: 13px;
              text-transform: uppercase;
            }
          }
        }

        tr {
          page-break-inside: avoid;
          page-break-after: avoid;
          page-break-before: avoid;
          font-size: 12px;
          text-align: center;
        }

        tbody {
          td {
            background-color: transparent !important;
            color: #1c2b4c;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }
  }

  .tax_Amount_inWords {
    padding: 10px 20px;
    padding-top: 0;

    .text-amt_q {
      color: #1c2b4c;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      text-transform: capitalize;
    }

    .tex-amt_as {
      color: #1c2b4c;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  .invoice_termsAndConditions {
    padding: 5px 15px;
    padding-bottom: 70px;

    .termsAndConditions_part {
      min-width: 65%;

      .termsAndConditions_title {
        color: #1c2b4c;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        text-transform: capitalize;
      }

      .Terms-conditions-text {
        margin-top: 5px;
        margin-right: 25px;

        .in_date_text {
          display: flex;
          gap: 8px;
          align-items: start;

          .in_text {
            color: $invoice-pr-color;
            font-size: 13px;
            font-weight: 500;
            // min-width: 30px;
          }

          .in_number {
            color: $invoice-pr-color;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
    }

    .declarationOn_part {
      min-width: 35%;

      .declarationOn_card {
        border: 1px solid #dbdfea;
        border-radius: 10px;
        padding: 10px 8px;

        .title {
          color: #1c2b4c;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          text-transform: capitalize;
        }

        .text {
          color: #1c2b4c;
          font-size: 12px;
          margin-top: 5px;
        }
      }

      .last_declarationOn_card {
        background-color: #dbdfea;
        border-radius: 10px;
        padding: 10px 8px;
        text-align: end;
        margin-top: 10px;

        .title {
          color: #1c2b4c;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          text-transform: capitalize;
        }

        .text {
          color: #1c2b4c;
          font-size: 15px;
          margin-top: 15px;
        }
      }
    }
  }

  .svg-image {
    width: calc(100% - 150px);
  }

  table {
    thead {
      display: table-header-group;
    }

    tr {
      page-break-inside: avoid;
    }
  }
}

.a4-size {
  width: 210mm; /* A4 width */
  height: 290mm; /* A4 height */
  padding: 00mm !important; /* Add some padding */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.worksheet_invoice {
  position: relative;
}

.isLoading_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media print {
  .worksheet_invoice {
    width: 210mm;
    height: 297mm;
    page-break-after: always;
  }
}

.worksheet_invoice {
  width: 208mm;
  height: 100%;
  margin: 0px auto;
  border: 1px solid #dbdfea;
  position: relative;
  background-color: white;

  &.isLoading {
    position: relative;
    transition: all 0.5s;

    height: 85vh;

    .isLoading_div {
      width: 100%;
      height: 100%;
      background-color: #f5f6fa;
      position: absolute;
      top: 0;
      z-index: 9999;
      transition: all 0.5s;
    }
  }

  .invoice_header {
    padding: 10px 15px;
    padding-bottom: 0 !important;

    .header_text {
      .title_ans_text {
        display: flex;
        align-items: center;

        .in_text {
          text-transform: uppercase;
          color: $invoice-pr-color;
          font-size: 14px;
          font-weight: 500;
          min-width: 90px;
        }

        .in_number {
          color: $invoice-pr-color;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .barcode_image_text {
      .barcode_image {
        width: 170px;

        svg {
          text {
            display: none;
          }
        }
      }

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .description_text {
    border: 1px solid #dbdfea;
    padding: 5px 10px;
    margin: 1px 10px;

    .title_ans_text {
      display: flex;
      align-items: start;
      flex-direction: column;

      .description_text_title {
        text-transform: capitalize;
        color: $invoice-pr-color;
        font-size: 14px;
        font-weight: 500;
        min-width: 120px;
      }

      p.text {
        text-transform: capitalize;
        padding-left: 5px;
        color: $invoice-pr-color;
        font-size: 13px;
        font-weight: 400;
      }
    }

    .image-heading {
      .image-text-flex {
        gap: 20px;

        .invoice_heading_text {
          color: $invoice-pr-color;
          font-family: Nunito;
          font-size: 22px;
          font-weight: 800;

          text-transform: uppercase;
        }
      }
    }

    .tax-invoice_title {
      .text-title {
        color: #000;
        font-family: Nunito;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
      }

      .gst_state_code {
        .gst_state_d-flex {
          align-items: center;
          display: flex;
          gap: 10px;
          line-height: 22px;

          .gst_state_code-text {
            min-width: 55px;
            color: $invoice-pr-color;
            font-size: 14px;
          }

          .gst_state_code-number {
            color: $invoice-pr-color;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .invoice_MainImage {
    padding: 10px 10px;
    padding-top: 0;

    .hsn_sac_table {
      width: 100%;
      min-width: 75%;

      .image-sec {
        width: 75.5%;
      }
    }

    .grandTotal_table {
      min-width: 25%;
      width: 25%;

      table {
        margin: 0 !important;
        width: 100% !important;

        thead {
          tr {
            th:not(.FabricAcsors) {
              background-color: #f4f4f6 !important;
              font-weight: 500;
              color: $invoice-pr-color;
              font-size: 13px;
              text-transform: uppercase;
              padding: 8px 5px;
            }

            th.FabricAcsors {
              padding: 8px 10px;
              background-color: transparent !important;
              font-weight: 500;
              color: $invoice-pr-color;
              font-size: 13px;
              text-transform: uppercase;
              text-align: start;
            }
          }
        }

        tr {
          page-break-inside: avoid;
          page-break-after: avoid;
          page-break-before: avoid;
          font-size: 12px;
          text-align: center;
        }

        tbody {
          td:not(.FabricAcsors_td) {
            padding: 0;
            background-color: transparent;

            .td_inner_text {
              text-align: start;
              color: #1c2b4c !important;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              padding: 5px 10px;
            }
          }

          td.FabricAcsors_td {
            padding: 0;
            background-color: transparent;

            .td_inner_text {
              text-align: start;
              color: #1c2b4c !important;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              padding: 2px 10px;
            }
          }
        }
      }
    }
  }

  .invoice_Special_Instructions {
    padding: 10px 10px;
    padding-top: 0px;
    page-break-inside: avoid;
    page-break-after: avoid;
    page-break-before: avoid;

    table {
      width: 90%;

      .sp_tab_td_innter_tex {
        font-size: 13px;
      }
    }
  }

  .invoice_group_Images {
    padding: 10px 10px;
    padding-top: 0px;
    page-break-inside: avoid;
    page-break-after: avoid;
    page-break-before: avoid;

    .invoice_group_Images_flex {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0.4em;

      .image_card {
        width: 48%;
        border: 2px solid #dbdfea;
        padding: 15px;
        border-radius: 10px;

        .image-sec {
          display: flex;
          justify-content: center;

          img {
            width: 100%;
            height: 400px;
            text-align: center;
            object-fit: cover;
          }
        }

        .image-desc {
          font-size: 14px;
          margin-top: 5px;
          color: #1c2b4c;
          font-weight: 400;
        }
      }
    }
  }

  .svg-image {
    width: calc(100% - 150px);
  }

  table {
    thead {
      display: table-header-group;
    }

    tr {
      page-break-inside: avoid;
    }
  }
}

.barcode-image {
  svg {
    width: 130px;

    rect:first-child {
      fill: transparent !important;
    }

    text {
      display: none;
    }
  }
}
